<app-execicio></app-execicio>


<div class="container">
  <div class="row">

    <app-server></app-server>
    <app-servers></app-servers>

    <br>
    <br>

    <app-testbinding></app-testbinding>
    

  </div>
</div>

<br>
<br>
<br>

<app-componenttest></app-componenttest>

<!--

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new components (manually or with cli): WarningAlert and SuccessAlert</li>
        <li>Output then beneath each other in th AppComponent</li>
        <li> Output a warning or success message in the Components</li>
        <li> Style the components appropriately (maybe some red/ green text?) </li>
      </ol>
      <p> Use external or internal template and style! </p>
      <p> Feel free to create more coponents, nest then into each other or play around with different types of selectors! </p>
      <hr>
      <app-warning-alert></app-warning-alert>
      <app-success-alert></app-success-alert>
    </div>
  </div>
</div>

 -->

